h1 
    {
        font-family: Georgia,; 
        color:darkgreen,; 
        text-align: center
    }
h2
    {
        font-family: georgia,; 
        text-align: center}
p 
    {line-height: 25px;}
h3
    {text-transform: uppercase;}
